* {
    margin:0;
    padding:0
}

h1 {
    font-family: "Merriweather", serif;
    font-weight:bold;
    font-size:46px;
    text-align: center;
    padding-bottom:20px;
    color:#fb4e37;
    text-transform: uppercase;
    padding:20px;
}